[Unit]
Description=Runs PostgreSQL diff backup every hour from 01-23

[Timer]
OnCalendar=*-*-* 03:00:00
AccuracySec=1s
Unit=pg_diff_backup.service

[Install]
WantedBy=multi-user.target
