[Unit]
Description=Runs PostgreSQL full backup every day

[Timer]
OnCalendar=Sun 00:00
AccuracySec=1s
Unit=pg_full_backup.service

[Install]
WantedBy=multi-user.target
